/* style.css */
body {
    background-color:#FFEDE1;
}

h1 {
    font-family: "Source Sans Pro", "Courier New", monospace;
    font-size: 52px;
    /* text-shadow: 0 0 3px #09ff00, 0 0 5px #0000ff;
    color: #09ff00; */
}

h2 {
    font-family: "Source Sans Pro", "Courier New", monospace;
    font-size: 48px;
}

h3 {
    font-family: "Source Sans Pro", "Courier New", monospace;
    font-size: 36px;
}

h4 {
    font-family: "Source Sans Pro", "Courier New", monospace;
    font-size: 28px;
}

p {
    font-family: "Source Sans Pro", "Courier New", monospace;
    font-size: 15px;
}

a {
    font-family: "Source Sans Pro", "Courier New", monospace;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: "Source Sans Pro", "Courier New", monospace;
  }
  .button:hover {
    background-color: #447546; /* Dark Green */
    color: white;
  }

.Testing-container
{
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 50%;
    width: 25%;
    padding: 15px 32px;
    padding-bottom: 50px;
    background-color: #8cb98d;
    text-align: center;
    display: inline-block;

}

.user-button{
    position: fixed;
    right: 3%;
    background-color: #aeb1c7; /* Green */
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: "Source Sans Pro", "Courier New", monospace;
    border-radius: 12px;
    }
    .user-button:hover {
        background-color: #616477; /* Dark Green */
        color: white;
      }

.signUp-Forms {
    position: relative;
    float: right;
    margin-right: 50px !important;
    padding-top: 100px !important;
    padding-left: 200px !important;
    padding-right: 300px !important;
    }
    .border {
        border: 1px solid black;
        padding: 1px;
    }

.signUpPhoto-container{
    float: left !important;
    margin-left: 5%;
    margin-right: 50%;
    width: 25%;
    height: 25%;
    padding: 15px 32px;
    background-color: #8cb98d;
    text-align: center;
    display: flex;
    }
    .border {
        border: 1px solid black;
        padding: 1px;
    }
