/* style.css */
body {
    background-color:#FFEDE1;
}

.video-container {
    float: right;
    padding-right: 10%;
    height: 1%;
    position: fixed;
    right: 5%;
}

h1 {
    font-size: 52px;
    /* text-shadow: 0 0 3px #09ff00, 0 0 5px #0000ff;
    color: #09ff00; */
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 36px;
}

h4 {
    font-size: 28px;
}

p {
    font-size: 15px;
}

#white{
    color: white;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: "Source Sans Pro", "Courier New", monospace;
  }
  .button:hover {
    background-color: #447546; /* Dark Green */
    color: white;
  }

.Testing-container
{
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 50%;
    width: 25%;
    padding: 15px 32px;
    padding-bottom: 50px;
    background-color: #8cb98d;
    text-align: center;
    display: inline-block;

}

.user-button{
    position: initial;
    right: 3%;
    background-color: #aeb1c7; /* Green */
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: "Source Sans Pro", "Courier New", monospace;
    border-radius: 12px;
    }
    .user-button:hover {
        background-color: #616477; /* Dark Green */
        color: white;
      }

.signUp-Forms {
    position: relative;
    float: right;
    margin-right: 50px !important;
    padding-top: 100px !important;
    padding-left: 200px !important;
    padding-right: 300px !important;
    }
    .border {
        border: 1px solid black;
        padding: 1px;
    }

.signUpPhoto-container{
    float: left !important;
    margin-left: 5%;
    margin-right: 50%;
    width: 25%;
    height: 25%;
    padding: 15px 32px;
    background-color: #8cb98d;
    text-align: center;
    display: flex;
    }
    .border {
        border: 1px solid black;
        padding: 1px;
    }

#grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 0px
}


#people-grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 20px
}

#profile-pic{
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

#img-card {
    /* width: fit-content; */
    /* display: inline-block;
    width: auto;
    border: solid; */
    justify-items: center;
}

#people-card-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px
}

#user-profile-card{
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-columns: 1fr, 2fr;
    grid-template-rows: repeat(0fr, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

#user-name-and-profile{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px
}

.user-card {
    width: fit-content; 
    border-radius: 10px; 
    background-color: grey;
    margin: 10px 25px;
    padding: 10px 10px;
}

.User-page {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px
}

.circle-shadow {
    width: 50px;
    height: 50px;
    background-color: #000000;
    border-radius:50%;
    box-shadow: 0 0 0 3px #000000;
}