{% extends "Base.HTML" %}
{% block title %}{{title}} Page{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css')}}"> -->


<body>
    <!-- <h1><center>Welcome To Toka Fitness!</center></h1> -->
    <div>
        <h1 style="margin-top: 3vw;  -webkit-text-stroke: 2px teal; color: teal;"><center>Welcome To Toka Fitness!</center></h1>
        <!-- <img src="static/Index-slideshow/gym-1.jpg" class="home-page-img"> -->
        <video autoplay muted loop class="home-page-img">
            <source src="static/Videos/women-running-1.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <div class="home-page-grid-container">
        <div class="home-page-text">
            <div >
                <h2><span style="color: rgb(179, 90, 206);">Sessions</span> and <span style="color: teal;">Bookings</span></h2>
                <h5>Booking with us is <span><i>made easy!</i></span></h5>
                <h5>Have you ever wanted to change your lifestyle? You ever tired of the 9 to 5 office job and need to get out more?<br><br>
                    Well we've got you covered! With our new plan you can...</h5>
                <div style="margin-top: 20px;">
                    <a href="/booking">
                        <button class="booking-button">Book Your Session Today!</button>
                    </a>
                </div>
            </div>
        </div>
        <div>
            <center>
                <img src="static/markiplier-87.PNG" style="width: 250px; margin: 50px 50px 0px 0px;" class="tag">
            </center>
        </div>
        <div>
            <center>
                <img src="static/Index-slideshow/gym-2.jpg" style="width: 35vw; border-radius: 10px; margin-top: 30px;">
            </center>
        </div>
        <div class="home-page-text">
            <div >
                <h2><span style="color: teal;">Meet our Trainers</span></h2>
                <h5>We have a <b>selective team of trainers</b> that can <b>help you with anything!</b></h5>
                <h5>Our trainers and staff are super friendly and should be able to help you at anytime!<br><br> Having issues? Call our staff members and they should be able to resolve your problem, or you could even <a href="https://gmail.com" class="home-page-link">email us with any queries!</a></h5>
                <div style="margin-top: 20px;">
                    <a href="/booking">
                        <button class="booking-button">Meet the team!</button>
                    </a>
                </div>
            </div>
            
        </div>
    </div>
</body>
{% endblock %}