{% extends "Base.HTML" %}
{% block title %}{{title}} Page{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script> 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> 


<script> 

        // hides or shows the inputted password 
    
        function togglePassword() { 
    
        var passwordInput = document.getElementById("pword"); 
    
        if (passwordInput.type === "password") { 
    
            passwordInput.type = "text"; 
    
                event.target.textContent = "Hide"; 
    
            } else { 
    
            passwordInput.type = "password"; 
    
                event.target.textContent = "Show"; 
    
            } 
    
        } 
    
    </script> 

<body>
    <h3 style="text-align: center;">This is a login page</h3> 
    <div class="login-container"> 

        <div class="center">
            <div class="flipY">
                <form action="/UserLogin" method="POST">
                    <p>Username</p>
                    <p><input type="text" id="nm" name="nm" size="35px"></p>
                    <p>Password</p>
                    <p>
                        <input type="password" id="pword" name="pword" size="35px">
                        <button type="button" onclick="togglePassword()">Show</button>
                    </p>
                    <p><input type="submit" name="submit"/></p>
                    <a class="nav-link" href="/register" style="text-align: center; color: black;">Need to Register?</a>
                </form>
            </div>
        </div>
</body>
{% endblock %}