{% extends "Base.HTML" %}
{% block title %}{{title}} Page{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script> 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> 

<div class="sign-up-page-grid">
    <div class="card picture-frame">
        <img src="static/Index-slideshow/gym-man.jpg" width="500px">
    </div>

    <div class="container border signUp-Forms" id="signUp-Forms">
        <h4>Create a new account</h4>
        <h4>It's free and always will be!</h4>
        <br>
        <form action="/register" method="POST">  
            <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" id="nm" name="nm" placeholder="Username" required="true">
            </div>
            <div class="form-group">
                <label>First Name</label>
                <input type="text" class="form-control" id="fnm" name="fnm" placeholder="Firstname" required="true">
            </div>
            <div class="form-group">
                <label>Last Name</label>
                <input type="text" class="form-control" id="lnm" name="lnm" placeholder="Lastname" required="true">
            </div>
            <div class="form-group">
                <label>Membership type</label>
                <select type="text" class="form-control" id="mtype" name="mtype" required="true">
                    <option value="" disabled selected>Please select a membership</option>
                    <option value="Student">Student</option>
                    <option value="Member">Member</option>
                    <option value="Trainer">Trainer</option>
                </select>
                <small id="emailHelp" class="form-text text-muted">You have to pick a membership type.</small>
 
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="text" class="form-control" id="pword" name="pword" placeholder="Password" required="true">
            </div>
            <div class="form-group">
                <label >Email address</label>
                <input type="text" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email" required="true">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

{% endblock %}