{% extends "Base.HTML" %}
{% block title %}{{title}} Page{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
<script src="text-area-counter.js"></script>

<body>
    {% if current_user %}
        {% set User_ID = current_user[0][0] %}
        {% set User_Name = current_user[0][1] %}
        {% set User_picture = current_user[0][2] %}
        {% set current_user_membership = current_user[0][3] %}
        {% set User_Desc = current_user[0][4] %}
        {% set User_Bio = current_user[0][5] %}
        <div class="User-page" style="background-color: #8cb98d; margin: 50px; padding: 15px 10px;">
            <div class="card" style="background-color: black; width: fit-content; margin: 10px;" id="people-card-grid">
                <div class="card-body">
                    <div class="card" style="background-color: white; padding: 0%; display: inline-flex; border-radius: 100px;">
                        <img src="../static/Profile_pics/{{ User_picture }}" id="profile-pic">
                    </div>
                </div>
                    <div style="padding: 2px;">
                        <p style="color: white; font-size: x-large;">Name: {{ User_Name }}</p>
                        <p style="color: white; font-size: larger;">Membership: {{ current_user_membership }}</p>
                    </div>
                <div class="card m-1 p-1" style="background-color: grey; height: fit-content;">
                    <h4 id="white">Bio</h4>
                    {% if User_Bio %}
                        <p id="white">{{ User_Bio }}</p>
                    {% elif User_Bio in [' ', '', 'none'] %}
                        <p id="white">{{ User_Name }} has no Bio currently!</p>
                    {% endif %}
                </div>
                <div class="card m-1 p-1" style="background-color: grey; height: fit-content;">
                    <h4 id="white">desc</h4>
                    {% if User_Desc %}
                        <p id="white">{{ User_Desc }}</p>
                    {% elif User_Desc in [' ', '', 'none'] %}
                    <p id="white">{{ User_Name }} has no description currently!</p>
                    {% endif %}
                </div>
            </div>
            <div style="margin: 25px;">
                <h3>Upload new Profile Picture</h3>
                <form method=post enctype=multipart/form-data action="/profile-upload">
                    <input type=file name=file>
                    <input type=submit value=Upload>
                </form>
            </div>
            <div style="padding: 50px 100px;">
                <a href="/logout">
                    <button class="Log-out-button">Log out</button>
                </a>
            </div>
            <div class="card" style="margin: 50px; background-color: #596f62;">
                <form method=post action="/bio-update"> 
                    <label>User-Bio</label><br>
                    <textarea rows = "7" cols = "40" maxlength="150" type="text" id="bio" name="bio" placeholder="You can update your bio here...">{{ User_Bio }}</textarea>
                    <div id="the-count">
                        <span id="current">0</span>
                        <span id="maximum">/150</span>
                    </div>
                    <br>
                    <input type="submit" value = "submit" />
                </form>
            </div>
            <div class="card" style="margin: 50px;">
                <form method=post action="/desc-update"> 
                    <label>User-Desc</label><br>
                    <textarea rows = "7" cols = "40" maxlength="150" type="text" id="desc" name="desc" placeholder="You can update your Description here...">{{ User_Desc }}</textarea>
                    <br>
                    <input type="submit" value = "submit" />
                </form>
            </div>
        </div>
    {% endif %}
    
</body>
{% endblock %}